.products {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    padding-bottom: 50px;
}

.cartProducts{
    background-color: lightcoral;
    /* margin-left: 25px; */
    margin-bottom: 50px;
}

.checkout{
    background-color: black;
    color: white;
}